rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if false;
    }

    match /dogs/{dogId} {
      allow read, write: if false;
    }

    match /inventory/{ownerId} {
      allow read, write: if false;
    }

    match /chien/{document} {
      allow read, write: if false;
    }
  }
}
